{% extends "base.html" %}
{% block content %}
<h1 class="title is-1">
   Cheatsheet!
</h1>
<artss="message-header">
      <p>1. SQL Injection - Easy</p>
   </div>
   <div class="message-body">
      This website is vulnerable to SQL Injection via the search bar. <a target="_blank" href=https://owasp.org/www-community/attacks/SQL_Injection>HINT</a>
   </div>
</article>
<article class="message is-primary is-large">
   <div class="message-header">
      <p>2. Broken Authentication - Medium</p>
   </div>
   <div class="message-body">
      This website does not have any form of account lockout policy. This means that a login can be attempted as
      many times as you want. <a target="_blank" href=https://attack.mitre.org/techniques/T1110/004/>HINT</a>
   </div>
</article>
{% endblock %}
